/**
 First External CSS Stylesheet
 **/

 body {
    padding: 0;
    margin: 0;
    font-family: Georgia, "Times New Roman", Times, serif;
    font-size: 18px;
    line-height: 150%;
    color: #333;
    background: #6f12ada1;
  }
  
  header {
    background: rgba(219, 189, 19, 0.699);
  }
  
  h1 {
    padding: 20px 0;
    margin: 0;
    margin-bottom: 20px;
    font-size: 28px;
    color: #eee;
    text-align: center;
  }
  
  h2 {
    font-size: 24px;
  }
  
  a {
    color: #08d7e6ab;
  }
  
  .container {
    width: 1024px;
    margin: 0 auto;
  }
  
  #main-bio,
  #contact-info,
  #bio-image {
    float: left;
  }
  
  #main-bio {
    width: 65%;
  }
  
  #contact-info {
    width: 35%;
  }
  
  #bio-image {
    width: 250px;
    height: 250px;
    margin-right: 20px;
  }
  